<!-- src/app/layouts/main-layout/components/sidebar/sidebar.component.html -->
<div class="sidebar" [class.collapsed]="collapsed">
    <nav class="sidebar-menu">
        <ul class="menu-items">
            <li *ngFor="let item of menuItems" class="menu-item" [class.d-none]="!canView(item.roles)">
                <a [routerLink]="item.link" routerLinkActive="active" class="menu-link">
                    <i [class]="item.icon"></i>
                    <span class="menu-text" [class.d-none]="collapsed">{{ item.title }}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidebar-footer" [class.text-center]="collapsed">
        <span class="footer-text" [class.d-none]="collapsed">© 2025 Tecnimotors</span>
        <span class="footer-text d-none" [class.d-inline-block]="collapsed">©</span>
    </div>
</div>